/*creacion de variables*/
$align-items-center: center;
$align-items-normal: normal;
$borders:(
    border-cont-tit-main: 2px solid rgb(105, 105, 105),
    border-cont-tit-main-width: 10px,
    border-cont-tit-main-style: double,
    border-img-main-width: 6px 6px 6px 6px,
    border-img-main-style: outset outset outset outset,
    border-ov-btn-grow-skew-reverse: 2px solid #2c3e50,
    border-radius-ov-btn-grow-skew-reverse: 3px,
    border-radius-ov-btn-grow-skew-reverse-width: 2px 2px 2px 2px,
    border-radius-ov-btn-grow-skew-reverse-style: ridge ridge ridge ridge,
    border-contedor-mapa: #000000 4px,
    border-contedor-mapa-style: outset,
);
$bottom: 0;
$content: "";
$color-primario: #2c3e50;
$color-secundario: #34495e;
$color-gris-claro:#262c31;
$color-blanco: #fff;
$color-negro:#000000;
$color-gris: #ccc;
$display-flex: flex;
$display-grid: grid;
$display-block:block;
$display-inline-block: inline-block;
$flex-direction-column: column;
$flex-direction-row: row;
$font-family:'Nunito Sans', sans-serif;
$font-size-medium:medium;
$font-size-xlarge:x-large;
$font-size-redes-sociales:24px;
$gap: 0px 0px;
$grid-template-columns: 1fr 1fr 1fr;
$grid-template-columns-contenedor-tabla: 33.3% 33.3% 33.3%;
$grid-template-rows: 1fr;
$grid-auto-columns: 1fr;
$grid-auto-flow: row;
$grid-template-rows-container1:70% 30%;
$grid-template-areas: "imagennegocio" "textoimagen";
$grid-area-img-negocio:imagennegocio;
$grid-area-img-texto-negocio: textoimagen;
$grid-gap:0px;
$height-img-negocio: 100%;
$height-contedor-logo: 20vh;
$height-img-main: 500px;
$height-img-main-container1: 90vh;
$justify-content-between: space-between;
$justify-content-center: center;
$justify-content-space-around: space-around;
$left: -20%;
$list-style-none:none;
$margin-init:0.2%;
$margin-redes-sociales: 0 10px;
$overflow: hidden;
$object-fit: cover;
$pading: 20px;
$pading-init:0.2%;
$pading-ov-btn-grow-skew-reverse: 6px 15px;
$pading-ov-btn-grow-skew-reverse-after: 16px 20px;
$position-relative:relative;
$position-absolute:absolute;
$right: -20%;
$transform: skewX(45deg) scale(0, 1);
$transform-hover: skewX(45deg) scale(1, 1);
$transition: all 0.3s ease;
$transition-hover: all 0.3s ease-out;
$text-align-center: center;
$text-align-start: start;
$text-decoration-none: none;
$text-shadow: 20px 15px 7px rgba(0, 0, 0, 0.527);
$top: 0;
$width-container: 100%;
$width-cpntenedor-tabla: 100%;
$width-mapa: 99%;
$width-img-negocio: 100%;
$z-index1: 1;
$z-index-1: -1;